* {
  font-family: sans-serif;
}

body {
  margin-left: 20px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 5px;
}

input[type="text"] {
  font-family: monospace;
  font-size: 1.1rem;
  padding: 5px;
}

input[type="button"] {
  font-size: 1.1rem;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin-top: 5px;
  border-radius: 5px;
  padding: 4px 12px;
}

select {
  font-size: 1rem;
}

.input-app-api-key {
  width: 200px;
}

video, #scanstream-container, #scancode-container {
  max-width: 640px;
}

#img-scan-frame {
  width: 480px;
  height: auto;
}
